/* pokemon card css start */

.captured_button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
  margin-top: 20px;
}

.captured_button:hover {
  background-color: #3e8e41;
}

.captured_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.pokemon_card {
  height: 250px;
  width: 250px;
  margin: 10px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  border-radius: 10px;
}

.pokemon_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* pokemon card css end */

/* Search bar layout start */

.input_search_div {
  width: 400px;
  height: 40px;
  border: 1px solid #eee;
  margin: 20px 0px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_img {
  margin-left: 10px;
  margin-right: 10px;
  height: 24px;
  width: 24px;
}

.input_search {
  outline: none;
  border: 0;
  width: 300px;
}

/* Search bar layout end */

/* main container start */

.main_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter_dropdown {
  outline: 0;
  width: 100%;
  height: 100%;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  border: 0px;
  margin-left: 20px;
}

.filter_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
/* main container end */

/* Nav bar start*/

.nav_bar {
  height: 50px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  background-color: #4caf50;
}
.logo_img {
  height: 50px;
  width: 100px;
  cursor: pointer;
  margin-left: 30px;
}
/* Nav bar end */
