/* pokemon card css start */

.pokemon_card {
  height: 250px;
  width: 250px;
  margin: 10px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  border-radius: 10px;
}

.pokemon_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* pokemon card css end */

/* Search bar layout start */

.input_search {
  outline: none;
  border: 0;
  border-radius: 50px;
  padding: 15px 20px;
  width: 400px;
  height: 40px;
  border: 1px solid #eee;
  margin: 20px 0px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

/* Search bar layout end */
